<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ApplicationName" value="http://newtours.demoaut.com/"/>
    <!--<add key="ApplicationName" value="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html"/>-->
    <add key="ExcelName" value="AutomationTestData.xls"></add>
    <add key="BrowserType" value="ie"/>    
  </appSettings>
</configuration>